div{
    border-radius: 30px;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    width: 71.6mm;
    height: 147.6mm;
}
body{
    background-color: #333333;
}
p{
    overflow-x: hidden;
    margin-top: 150px;
    text-align: right;
    margin-right: 3mm;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: 100;
    line-height: 10mm;
}
.buttonO{
    height: 50px;
    width: 50px;
    background-color: #f1a33b;
    color:white;
    margin-left: 3mm;
    margin-bottom: 70mm;
    position:relative;
    border: none;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
}
.buttonG{
    height: 50px;
    width: 50px;
    background-color: #a5a5a5;
    color: black;
    margin-left: 3mm;
    margin-bottom: 70mm;
    position:relative;
    border: none;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
}
.buttonDG{
    height: 50px;
    width: 50px;
    background-color: #333333;
    color: white;
    margin-left: 3mm;
    position:relative;
    border: none;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
}
#zero{
    width: 115px;
    border-radius: 30px;
    text-align: left;
}
button:active{background-color: #707070;}
.buttonO:active{background-color: #905507;}
button:hover{cursor: pointer;}